<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="/images/logo.svg" alt="logo" /> </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="/images/logo-mini.svg" alt="logo" /> </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center p-2 bg-dark text-white">
      <div class="">
      <div class="row">
          <div class="col-md-12">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                          <use xlink:href="#bootstrap"></use>
                      </svg>
                  </a>

                  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                      <li><a asp-action="Index" asp-controller="Home" class="nav-link px-2 text-secondary">Home</a></li>
                      <li>
                          <a href="#" class="nav-link px-2 text-white" data-bs-toggle="modal"
                             data-bs-target="#exampleModal">Características</a>
                      </li>
                      <li><a href="#" class="nav-link px-2 text-white">Sobre</a></li>
                  </ul>
              </div>
          </div>
      </div>
      </div>
  </div>
</nav>