
    <aside class="sidebar">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Vehicle">Veículos</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Enterprise">Empresas</a>
                </li>
                <li>
                  
                </li>
                 
            </ul>
        </aside>
