@using CarSystem.Web.Models.Enterprise
@model EnterpriseViewModel

<h1 class="h3 mb-0 text-gray-800"> Car System - Nova Empresa</h1>

<div class="container">
<form method="post" role="form">
    <input asp-for="Id" type="hidden"/>
    <div asp-validation-summary="None"></div>

    <div class="form-group ">
        <div class="form-group">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control" type="text" />
            <span asp-validation-for="CompanyName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cnpj"></label>
            <input asp-for="Cnpj" class="form-control" type="number" id="cnpj"/>
            <span asp-validation-for="Cnpj" class="text-danger"></span>
        </div>

        <div class="form-group">
            <a class="btn btn-danger" asp-action="Index">Voltar</a>
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>

    </div>
</form>
    </div>

@section Scripts
{
    <script>
        
     $(function() {
        
     });

    </script>
}
